<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>CEEJ Competitions</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="../static/main.js"></script>
 </head>
<body>
  <nav>
    <div>
      <a href="index.html" class="logo">
        <img src="../../images/CEEJ_Final_Logo_white.png" alt="Logo">
      </a>
    </div>
  </nav>
  <!-- Add the Competitions span under the nav bar -->
  <div class="competitionspan">
    <span>Competitions (Admin)</span>
  </div>
  <div class="filter-container">
    <button class="filter-buttons1">Filter 1</button>
    <button class="filter-buttons2">Filter 2</button>
    <button class="add-button" href="createCompetitionPage.html"> Add Competition</button>
  </div> 
  <div>
      <input type="text" class="search-bar" placeholder="Search">
<!--       <button class="search-button">Search</button> -->
  </div>
  <div class="sidebar">
    <!-- Add your sidebar content here -->
    <ul>
      <!-- Use Jinja for username here -->
      <li class="usernameSidebar"><a href="#home">Username</a></li> 
      <li class="logoutSidebar"><a href="index.html">Logout</a></li>
    </ul>
  </div>
  <div class="content" id="card-container">
    <!-- Cards will be dynamically appended here -->
    <div class="card">
      <div class="card-text">
        <h3>Competition Name 1</h3>
        <p>Competition Code 1</p>
        <p>Start Date: </p>
        <p>End Date: </p>
        <p>Status: </p>
      </div>
    </div>
    <div class="card">
      <div class="card-text">
        <h3>Competition Name 2</h3>
        <p>Competition Code 2</p>
        <p>Start Date: </p>
        <p>End Date: </p>
        <p>Status: </p>
      </div>
    </div>
  </div>
</body>
</html>