{% extends "layout.html" %}
{% block title %}Workout Remixer App{% endblock %}
{% block page %}Workout Remixer App{% endblock %}

{% block content %}
  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <link rel="stylesheet" href="/workspace/MCKS/App/static/style.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

 <body>
    <p></p>
   <div class="muscle-container">
    {% for muscle, image_url in all_workouts["Muscles"].items() %}
    <div class="muscle-item">
      <img class="muscle-image"src="{{ image_url }}" alt="{{ muscle }}" >
        <p class="muscle-text">{{ muscle }}</p>
        <a href="{{ url_for('workout_views.work_page', data=muscle)}}"><button class="waves-effect waves-light btn-small cyan darken-4" value="{{ muscle }}">View Workouts</button></a>
        <p></p>
    </div> 
    {% endfor %}
   </div>  
</body>
 </html>


 <script>
  document.addEventListener('DOMContentLoaded', function() {
      var buttons = document.querySelectorAll('.view-btn');
      buttons.forEach(function(button) {
          button.addEventListener('click', function() {
              var muscle = button.getAttribute('data-muscle');
              fetch('/muscle_type?muscle=' + encodeURIComponent(muscle))
              .then(response => response.json())
              .then(data => {
                  var dropdown = button.nextElementSibling;
                  dropdown.innerHTML = ''; // Clear previous options
                  data.workouts.forEach(function(workout) {
                      var option = document.createElement('option');
                      option.textContent = workout;
                      dropdown.appendChild(option);
                  });
                  dropdown.style.display = 'block'; // Show the dropdown
              })
              .catch(error => console.error('Error:', error));
          });
      });
  });
  </script>
  

{% endblock %}

