{% extends "layout.html" %}
{% block title %}Chatroom{% endblock %}
{% block page %}Chatroom{% endblock %}

{{ super() }}

{% block content %}
<h1>Chat Room</h1>

<section id="message-section">
    <label for="message">Message</label>
    <input type="text" name="message-text" id="message-text" placeholder="Enter text here . . .">
    <button class="waves-effect waves-light btn" id="send-button">
        Send<i class="material-icons right">send</i></button>
</section>

<section id="message-area">
    <h1>Messages</h1>
    <label for="incoming-messages">Incoming Messages</label>
    <div disabled name="incoming-messages" id="incoming-messages"></div>
</section>
<script src="{{ url_for('static',filename='scripts/chatroom.js') }}"></script>

{% endblock %}