{% extends "layout.html" %}
{% block title %}CEEJ Add Competition Page{% endblock %}
{% block page %}Add Competition Page{% endblock %}

{{ super() }}

{% block content %}
<div class = signup_space></div>
    <div class="login-container">
      <div class="center">
			<img src="../../images/createcompspexels-cottonbro-studio-4709291.jpg" alt="SignUp Image">
		</div>
		<div class="login-right">
<!-- 			<h1>Login</h1> -->
			<form>
				<label for="CompName">Competition Name:</label>
				<input type="text" id="CompName" name="CompName" placeholder="Enter a Competition Name">
        
				<label for="startDate">Start Date:</label>
				<input type="text" id="startDate" name="startDate" placeholder="Enter a Start Date">

				<label for="endDate">End Date:</label>
        <input type="text" id="endDate" placeholder="Enter an End Date">
        
        <label for="csvFile">Upload CSV File:</label>
        <div class = "csvButton">
          <input type="file" id="csvFile" name="csvFile">
        </div>
        
				<input type="submit" value="Create Competition">
        <div class="login_signup_button">
        </div>
			</form>
		</div>
	</div>
{% endblock %}