{% extends "layout.html" %}
{% block title %}Play - ShadowCipher{% endblock %}
{% block page %}Play - ShadowCipher{% endblock %}

{% block content %}
<body class="content fill-space" style="background-color: #262627; margin-top: 50px;">
    <div class="row">
        <section class="col s12 m5" style="margin-top: 5px; height: 86vh">
            <div class="card-title" style="color: white;">
                <h1>{{ today.strftime('%B %d, %Y') }}</h1>
            </div>
            <div class="card" style="background-color: #262627; color: white; border-top: solid 5px white; border-bottom: solid 5px white;">
                <div class="card-content">
                    <div style="text-align: center;">
                        <p>Attempts Left: 0</p>
                    </div>
                    <div>
                        {% for guess in guesses %}
                            <div style="display: flex; justify-content: center;">
                                {% for digit in guess.guess %}
                                <input type="text" value="{{ digit }}" style="flex: 1; border: 1px solid #aaa; border-radius: 5px; padding: 12px; color: white; font-size: 30px; text-align: center;" readonly>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                    <form action="/evaluate_guess" method="POST">
                        <div style="display: flex;">
                            {% for i in curr_game["answer_length"] %}
                            <input type="number" id="guess-digit-{{ i }}" name="guess-digit-{{ i }}" style="flex: 1; border: 1px solid #aaa; border-radius: 5px; padding: 12px; color: white; font-size: 30px; text-align: center;" min="0" max="9">
                            {% endfor %}
                        </div>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>
{% endblock %}