{% extends "layout.html" %}
{% block title %}Play - ShadowCipher{% endblock %}
{% block page %}Play - ShadowCipher{% endblock %}

{% block content %}
<body class="content fill-space" style="background-color: #262627;">
    <div class="row" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <section style="width: 70%; max-width: 500px; height: 86vh;">
            <div class="card-title" style="color: white;">
                <h4>{{ today.strftime('%B %d, %Y') }}</h4>
            </div>
            <div class="card" style="background-color: #262627; color: white; border-top: solid 5px white; border-bottom: solid 5px white;">
                <div class="card-content">
                    <div style="text-align: center;">
                        {% if victory %}
                            <p>{{ victory }}</p><br>
                        {% else %}
                            <p>Attempts Left: {{ attempts_left }}</p><br>
                        {% endif %}
                    </div>
                    <div>
                        {% for labeled_guess in labeled_guesses %}
                            <div style="display: flex; justify-content: center; margin-bottom: 10px;">
                                {% for digit, label in labeled_guess %}
                                    {% if label == 'bull' %}
                                        <input type="text" value="{{ digit }}" style="margin: 0 5px; flex: 1; border-radius: 5px; padding: 6px; color: white; font-size: 20px; text-align: center; background-color: #6ca965;" readonly>
                                    {% elif label == 'cow' %}
                                        <input type="text" value="{{ digit }}" style="margin: 0 5px; flex: 1; border-radius: 5px; padding: 6px; color: white; font-size: 20px; text-align: center; background-color: #c8b653;" readonly>
                                    {% else %}
                                        <input type="text" value="{{ digit }}" style="margin: 0 5px; flex: 1; border-radius: 5px; padding: 6px; color: white; font-size: 20px; text-align: center; background-color: #787c7f;" readonly>
                                    {% endif %}    
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                    <form action="/evaluate_guess" method="POST">
                        <div style="display: flex;">
                            {% for i in curr_game["answer_length"] %}
                                {% if victory %}
                                    <!-- Player Can No Longer Guess Answers -->
                                {% else %}
                                    <input type="number" id="guess-digit-{{ i }}" name="guess-digit-{{ i }}" style=" margin: 0 5px; flex: 1; border-radius: 5px; padding: 6px; color: white; font-size: 20px; text-align: center; background-color: #AF9E89;" min="0" max="9">
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% if victory %}

                        {% else %}
                            <div class="card-action">
                                <button type="submit">Submit</button>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
            <div class="card" style="background-color: #262627; color: white;">
                <div class="card-title">
                    Just For Testing
                </div>
                <div class="card-content">
                    <h5>Bulls: {{ verdict.bulls }}</h5>
                    <h5>Cows: {{ verdict.cows }}</h5>
                    <h5>Milk: {{ verdict.milk }}</h5>
                </div>
            </div>
        </section>
    </div>
</body>
{% endblock %}