<!doctype html>
<html>
  <head>
  
    <link rel="stylesheet" href="../static/style.css">
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <!-- Let browser know website is optimized for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
    <!-- <script src="C:\Users\josia\OneDrive\Desktop\INFO 2602\CEEJ INFO Project\INFO2602-Project\App\static\main.js"></script> -->

  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="../../images/CEEJ_Final_Logo_white.png" alt="Logo">
      </div>
    </nav>
    <div class="container" id="content">{% block content %}{% endblock %}</div> 
  </body>
</html>
