{% extends "layout.html" %}
{% block title %}Login - ShadowCipher{% endblock %}
{% block page %}Login - ShadowCipher{% endblock %}

{% block content %}
<body class="content fill-space" style="background-image: url('/static/img/login.png'); background-size: 100% 100%; background-repeat: no-repeat;">
    <div class="row">
        <!-- <div class="col s12 m6" style="padding: 0%;">
            <img class="responsive-img" src="/static/img/Login_Page_Background.png" style="width: 100%; height: 100%; object-fit: full">
        </div> -->
        <div class="col s12 m6 offset-m6">
            <div class="subcontent center-vertical">
                <main class="container" style="margin-top:50px">
                    <h3 style="color: #ABA297;">Login</h3>
                    <form class="col s12" id="loginForm" method="POST" action="/login">
                        <div class="row">
                            <label for="username">Username</label><br>
                            <div class="input-field col s8" style="background-color: #ABA297; border-radius: 100px;">
                            <input name="username" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <label for="password">Password</label><br>
                            <div class="input-field col s8" style="background-color: #ABA297; border-radius: 100px;">
                            <input name="password" type="password">
                            </div>
                        </div>
                        <div class="card-action row" style="padding-right: 6em;">
                            <button class="orange black-text btn right" type="submit" style="border-radius: 20px; font-size: 1.2em;">Play</button>
                        </div>                        
                    </form>
                    <div class="col s12 m6 offset-m8 center-align" style="color: #ABA297;">
                        <label for="signup_option">Don't have an account?</label><br>
                        <a name="signup_option" href="/signup_page" style="color: inherit; text-decoration: underline;">Sign-Up!</a>
                    </div>                    
                </main>
            </div>
        </div>
    </div>
</body>
{% endblock %}