{% extends "layout.html" %}
{% block title %}CEEJ Login Page{% endblock %}
{% block page %}Login Page{% endblock %}

{{ super() }}

{% block content %}
  <div class="space"></div>
  <div class="login-container">
    <div class="center">
      <img src="../../images/loginpexels-mikhail-nilov-6963944.jpg" alt="Login Image">
    </div>
    <div class="login-right">
      <!-- Add the "action" and "method" attributes to the form tag -->
      <form action="competitionsPage.html" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter your username">

        <label for="password">Password:</label>
        <input type="password" id="password-field" placeholder="Enter your password">

        <!-- Change the input type to "submit" -->
        <input type="submit" value="Login">

        <div class="login_signup_button">
          <div class="text">Don't have an account?</div>
          <a href="{{ url_for('signUp') }}">SignUp</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}