{% extends "layout.html" %}
{% block title %}Flask MVC App{% endblock %}
{% block page %}Flask MVC App{% endblock %}

{{ super() }}

{% block content %}
<h3>SIGN UP HERE!!!</h3>
<div class="">
    <form class="" action="register" method="post"> <br>
        <br>
        First Name <input type="text" name="first_name" value=""> 
        Last Name <input type="text" name="last_name" value=""> 
        Email <input type="text" name="email" value=""> 
        Password <input type="text" name="password" value="">
        <input type="submit" name="" value="SUBMIT">
    </form>
</div>

{% endblock %}