{% extends "layout.html" %}
{% block title %}Routine{% endblock %}
{% block page %}Routines{% endblock %}

{% block content %}
<ul>
    {% for r in routines %}
        <li>{{ r.routineName }}</li>
    <form action="/view-workouts">
        <button type="submit" name="workout_id" value="{{r.id}}">View Workouts</button>
    </form>
    {% endfor %}
    </ul>

<form action="/create_routine" method="post">
<input type="text" name="name" placeholder="Routine-Name">
<button type="submit">Create Routine</button>
</form>

{% endblock %}


