{% extends "layout.html" %}
{% block title %}CEEJ SignUp Page{% endblock %}
{% block page %}SignUp Page{% endblock %}

{{ super() }}

{% block content %}
    <div class = signup_space></div>
    <div class="login-container">
      <div class="center">
			<img src="../static/images/signuppexels-sora-shimazaki-5935794.jpg" alt="SignUp Image">
		</div>
		<div class="login-right">
<!-- 			<h1>Login</h1> -->
			<form>
				<label for="email">Email:</label>
				<input type="text" id="email" name="email" placeholder="Enter your email">
        
				<label for="username">Username:</label>
				<input type="text" id="username" name="username" placeholder="Enter your username">

				<label for="password">Password:</label>
        <input type="password" id="password-field" placeholder="Enter your password">

        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="password-field" placeholder="Confirm your password">


				<input type="submit" value="SignUp">
        <div class="login_signup_button">
          
        <div class="text">Already an account?</div>
        <a href="{{ url_for('login') }}">Login</a>
        </div>
			</form>
      
		</div>
	</div>
{% endblock %}