{% extends "layout.html" %}
{% block title %}App Users{% endblock %}
{% block page %}App Users{% endblock %}

{{ super() }}

{% block content %}
    <div class="row">
        <p>
            This is table is renderd on the Server. Flask gets the data from the database and uses jinja templates to dyanmically render this page when a request is sent to <a href="/usrs">/users</a>.
        </p>
    </div>
    <div class="row">
      <table>
        <thead>
          <tr>
            <th>Id</th><th>First Name</th><th>Last Name</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
            </tr>
          {% endfor %}
        <tbody>
      </table>
    </div>
{% endblock %}