{% extends "layout.html" %}
{% block title %}Workouts{% endblock %}
{% block page %}{{workouts.muscle}}{% endblock %}

{% block body_attributes %}
style="background-image: url('https://as2.ftcdn.net/v2/jpg/03/50/00/79/1000_F_350007935_2kvg6F1aZIbllABM5MgXj8wtCRStfeFY.jpg');  background-position: center;"
{% endblock %}

{% block content %}
<ul>
{% for w in workouts %}
    <li>
        <div class ="card-panel teal lighten-4" >
            <p><b>Workout: </b> {{w.exercise}}</p>
            <p><b>Difficulty: </b> {{w.difficulty}}</p>
            <p><b>Equipment: </b> {{w.equipment}}</p>
            <p><b>Instructions: </b> {{w.description}}</p>
            <p><b>Youtube Link: </b> <a href="{{w.video}}" target="_blank">{{w.video}}</a></p>
        <form action="/save_workout" method="post">
            <input type="hidden" name="workout_id" value="{{w.id}}">
            <input type="hidden" name="muscle_type" value="{{w.muscle}}">
            <input type="hidden" name="workout" value="{{w.exercise}}">
            <button type="submit" class="waves-effect waves-light btn-small cyan darken-4">Add Workout</button> 
            <select name="routine_id">
                {% for r in routines %}
                <option value="{{r.id}}">{{r.routineName}}</option>
                {% endfor %}
        </select>
        </form> 
    </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}